In [10]:
n=int(input("enter a number\n"))
a=n
i=1
while i<n:
    t=i*a
    a=t
    i+=1
if a==0:
    print(1)
else:
    print(a)

enter a number
10
3628800

In [9]:
l=['a','b','c','d','e','f','g']
n=len(l)
n-=1
while n!=-1:
    print(l[n])
    n-=1

g
f
e
d
c
b
a

In [3]:
#fibonacci series
i=1
n=int(input('enter number '))
next=1
f=0
s=0
while i<=n: 
    print(s,end=',') 
    
    f=s
    s=next
    next=f+s
    i+=1

enter number 10
0,1,1,2,3,5,8,13,21,34,

In [5]:
s=0
for x in range(0,11,2):
    s+=x
print(s)

30

In [14]:
a=int(input('enter number\n'))
b=int(input('enter number\n'))
c=int(input('enter number\n'))
n=0
for x in range(a,b):
    if x%c==0:
        n+=1
print(n)

enter number
1
enter number
7
enter number
2
3

In [2]:
i=1
n=int(input('enter number '))
while i<=n:
    if i%10>=5 and i%10<=8:
        print(i)
    i+=1

enter number 67
5
6
7
8
15
16
17
18
25
26
27
28
35
36
37
38
45
46
47
48
55
56
57
58
65
66
67

In [4]:
p1=int(input('enter number '))
p2=int(input('enter number '))
p3=int(input('enter number '))
if p1>p2:
    if p1>p3:
        print('number 1 is greatest')
        if p2<p3:
            print("number 2 is smallest")
            print('number 3 is second greatest')
        else:
            print("number 3 is smallest")
            print('number 2 is second greatest')
    else:
        print('number 3 is greatest')
        print('number 2 is the smallest')
        print('number 1 is second greatest')
else:
    if p2>p3:
        print('number 2 is greatest')
        if p1>p3:
            print('number 3 is smallest')
            print('number 1 is second greatest')
        else:
            print('number 1 is smallest')
            print('number 3 is second greatest')
    else:
        print('number 3 is greatest')
        print('number 1 is smallest')
        print('number 2 is second greatest')

enter number 4
enter number 45
enter number 1
number 2 is greatest
number 3 is smallest
number 1 is second greatest

In [5]:
m=int(input('enter marks '))
if m>80:
    g='O'
elif m>70 and m<=80:
    g='A'
elif m>60 and m<=70:
    g='B'
elif m>50 and m<=60:
    g='C'
elif m>35 and m<=50:
    g='D'
elif m<=35:
    g='E'
    
print('your grade is',g)

enter marks78
your grade is A

In [2]:
n=int(input('enter number of bananas '))
if n<0:
    print('entered number is negative ')
else:
    print(n//12,'dozens and',n%12,'bananas extra')

enter number of bananas 66
5 dozens and 6 bananas extra

In [1]:
a=str(input('enter a string '))
if a[::-1]==a:
    print('it is a palindrome')
else:
    print('it is not a palindrome')

enter a string huh
it is a palindrome

In [7]:
n=int(input('enter a number '))
if n<5:
    print(n)
else:
    print(2*n)

enter a number 5
10

In [8]:
n=int(input('enter a number '))
for x in range(1,n+1):
    print(x)

enter a number60
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60